body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #A62C2B;
    overflow-y: auto;
}

h1 {
    font-size: 100px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: italic;
    margin: 0 0 50px;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 0 0 80px;
    border: 5px solid black;
}

h2 {
    font-size: 65px;
    font-family: 'courier new', monospace;
    margin: 50px 20px;
    color: black;
}

p {
    font-size: 35px;
    font-family: 'Courier New', monospace;
    margin: 20px 20px;
    color: black;
    max-width: 800px;
    text-align: center;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 960px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border: none;
}